<%= form_for @question do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 20, class: "form-control" %>
  </div>
  <% @tags.each do |tag| %>
    <%= check_box_tag :tags, tag.id, @question.tags.include?(tag), :name => 'question[tag][]' %>
    <%= label_tag :tags, tag.category %>
  <% end %>
  <%= f.submit "Submit", class: "btn btn-default center-block" %>
<% end %>
